#id-div-container-1 {
    display: none;
}
#id-div-container-2 {
    display: none;
}
#id-div-container-3 {
    display: none;
}
#id-div-container-4 {
    display: none;
}
#id-div-container-5 {
    display: none;
}
.todoBackground {
    position: absolute;
    /*right: 150px;
    bottom: -100px;*/
}
.form-inline {
    position: relative;
    top: 87px;
    left: 200px;
    width: 200px;
}
.form-control {
    height: 20px;
    font-size: 1px;
    color: #302f2c;
}
#id-button-add {
    position: absolute;
    bottom: 190px;
    left: 155px;
    cursor:pointer;
}
.todo-title {
    position: absolute;
    top: 44px;
    left: 270px;
    color: #f0f0f3;
    font-size: 14px;
}
.todo-prev {
    position: absolute;
    top: 320px;
    left: 210px;
    cursor:pointer;
}
.todo-next {
    position: absolute;
    top: 320px;
    left: 365px;
    cursor:pointer;
}
.todo-list {
    position: absolute;
    top: 46px;
    left: 402px;
    cursor:pointer;
}
.todo-cell {
    position: relative;
    top: 97px;
    left: 155px;
    width: 250px;
    height: 28px;
    /*overflow: hidden;*/
    margin: 2px 0;
}
.todo-done {
    display: none;
    cursor:pointer;
}
.todo-undone {
    display: none;
    cursor:pointer;
}
.show {
    display: inline !important;
}
.todoShow {
    display: inline-block !important;
}

.todo-content {
    position: relative;
    height: 28px;
    left: 16px;
    width: 237px;
    height: 28px;
    overflow: hidden;
    font-size: 12px;
}
.todo-delete {
    display: inline;
    position: relative;
    left: 20px;
    visibility: hidden;
    cursor:pointer;
}
.todo-cell:hover .todo-delete {
    visibility: visible;
}
